* {
    padding:0px;
    margin: 0px;
}
body {
    background-image: url("/wall.jpg");
    background-repeat: no-repeat;

}
.container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.name {
    font-family: 'Kaushan Script', cursive;
    color:rgb(215, 184, 146);
    font-size: 50px;
    text-align: center;
    padding-bottom: 14px;
}
.msg {
    font-family: 'Sacramento', cursive;
    color:rgb(215, 184, 146);
    font-size: 40px;
    text-align: center;
}
.footer {
    font-family: 'Enriqueta', serif;
    color:rgb(215, 184, 146);
    font-size: 20px;
    text-align: center;

}
a {
    color:rgb(215, 184, 146);
    text-decoration: none;
}
a:visited {
    color:rgb(215, 184, 146);
}

@media only screen and (max-width: 768px) {
    body {
        background-position: 50% 0%;
    }
}